.popup-container{
  font-size: medium;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 30rem;
  margin: 0;
  padding: 0;
  div {
    flex-grow: 0;
  }
  .messages {
    flex-grow: 1;
    overflow-y: auto;
    min-height: 10rem;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;

    .is-chat {
      border-radius: 10px;
      border: 1px solid aqua;
      margin: 4px;
      padding: 0.8rem;
    }
  }
}
.buttons {
  width: 100%;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: 0.5rem;
  button {
    margin-right: 0.5rem;
  }
}
.chat-input-area {
  flex-shrink: 0;
}
.preview {
  font: unset;
  text-wrap: wrap;
}
