<div class="popup-container">
  <div class="messages" #messages>
    @for (m of messages$ | async; track m.id) {
      @if (m.state === ChatMessageState.FinishedAndRendered) {
        <div [ngClass]="{'is-chat': m.type === ChatType.Chat, 'is-user': m.role === Role.User}" [innerHTML]="m.content"></div>
      } @else if(m.state === ChatMessageState.Finished || m.state === ChatMessageState.Streaming) {
        <div [ngClass]="{'is-chat': m.type === ChatType.Chat, 'is-user': m.role === Role.User}"><pre class="preview">{{m.content}}</pre></div>
      } @else {
        <div>
          <mat-spinner [diameter]="60"></mat-spinner>
        </div>
      }
    }
  </div>
  <div>
  @if (showChat()) {
    <div class="flex chat-input-area">
      <mat-form-field style="width: 100%;">
        <textarea matInput #chatInputElem [formControl]="chatInput" (keydown)="onKey($event)">

        </textarea>
      </mat-form-field>
    </div>
    <div class="flex-row buttons">
      <div><small>Press Ctrl-B to toggle chat</small></div>
      <button mat-stroked-button (click)="sendChat()">Send</button>
      <button mat-stroked-button (click)="showChat.set(false)">Close</button>
    </div>
  } @else {
    <div class="flex-row buttons">
      <button mat-stroked-button [disabled]="!canClear()" (click)="clearChat()">Clear</button>
      <button mat-stroked-button [disabled]="!canChat()" (click)="openChat()">Chat</button>
      @for (customPrompt of customPrompts(); track customPrompt.name) {
        <button mat-stroked-button (click)="send(customPrompt.name)">{{customPrompt.name}}</button>
      }
    </div>
  }
  </div>
</div>
